ReminderClient/Service References/ServiceProxy/ReminderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Code11.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Code11.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7552/ReminderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="ArrayOfReminder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reminder" nillable="true" type="tns:Reminder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReminder" nillable="true" type="tns:ArrayOfReminder" />
  <xs:complexType name="Reminder">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Days" nillable="true" type="xs:string" />
          <xs:element name="Description" nillable="true" type="xs:string" />
          <xs:element name="Name" nillable="true" type="xs:string" />
          <xs:element name="ReminderType" type="tns:ReminderType" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Reminder" nillable="true" type="tns:Reminder" />
  <xs:simpleType name="ReminderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EveryDay">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EveryWeek">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EveryYear">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Once">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReminderType" nillable="true" type="tns:ReminderType" />
</xs:schema>